span{
    /* 关键字 */
     /* color: aquamarine; */

     /* RGB表示法 */
     /* color: rgb(255, 235, 32); */

     /* RGBA表示法 */
     color: rgba(226, 44, 108, 0.5);

     /* 十六进制表示法 */
     /* color: #e22c6c; */


    }